@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;


@font-face {
    font-family: "Imapct";
    src: url("../public/fonts/impact.ttf");
}

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 1px black;
    }
}
